@import url("./styles/normalize.css");
@import url("./styles/fonts.css");

body {
  background: #000000;
  margin: 0;
}

.page {
  font-family: Inter, arial, sans-serif;
  color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.block {
  max-width: 882px;
}

.button:hover {
  opacity: 0.7;
}
/*********************************************************/

.header {
  min-height: 74px;
  margin: auto;
  margin-top: 45px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.7);
}
.header__logo {
  width: 173px;
  height: 33px;
}

/*********************************************************/
.profile {
  margin: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.profile__avatar {
  max-width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  margin-right: auto;
}

.profile__name-container {
  display: flex;
  align-items: center;
}

.profile__name {
  margin: 0 24px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
}

.profile__about-me {
	max-width: 400px;

  margin: 16px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  padding: 6px;

  background-color: black;
  background-image: url(./images/pencil.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  padding: 12px 62px;
  background-color: black;
  background-image: url(./images/plus.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
}

/********************************************************/
.elements {
  margin: auto;
  margin-top: 51px;
}

.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  list-style: none;
  margin: 0 auto;
  padding: 0;
  gap: 20px 18px;
}

.elements__element {
  width: 282px;
  height: 361px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.elements__image {
  width: 282px;
  height: 282px;
}

.elements__title-container {
  max-width: 246px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.elements__location-name {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
}

/**************************************/
.footer {
  margin: 66px auto 60px;
}
.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #545454;
}

/**********************************/

.edit-form {
	display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.edit-form__pop-up {
  min-width: 430px;
  height: 330px;

  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  background-color: white;
  position: absolute;
  top: 195px;
  left: 50%;
  transform: translateX(-50%);
}
.edit-form__close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -42px;
  top: -42px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url("./images/Close\ Icon.png");
  background-position: center;
  background-repeat: no-repeat;
}

.edit-form__form {
  display: flex;
  flex-direction: column;
  max-width: 358px;
  margin: 34px auto 0;
}

.edit-form__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.edit-form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;

  color: #000000;
}
.edit-form__input_name {
  margin-top: 54px;
}
.edit-form__input_about-me {
  margin-top: 30px;
}

.edit-form__submit {
  margin-top: 48px;
  max-width: 358px;
  height: 50.15px;
  background-color: black;
  border: none;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}
.popup_opened{
	display: flex;
}
/*************************************/

@media screen and (max-width: 720px) {
  .block_s {
    max-width: 600px;
  }
  .header {
    min-height: 56px;
    margin: auto;
    margin-top: 28px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.7);
  }
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
  .profile {
    flex-direction: column;
  }
  .profile__avatar {
    margin: auto;
  }
  .profile__info {
    margin: auto;
  }
  .profile__name {
    font-size: 22px;
    margin: 0 12px 0 0;
  }
  .profile__about-me {
    text-align: center;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    padding: 4.25px;
  }
  .profile__add-button {
    margin-top: 36px;
    width: 282px;
  }

  .elements {
    margin-top: 36px;
  }
  .footer {
    margin: 48px 0 36px 19px;
  }
  .footer__copyright{
	font-size: 14px;
	line-height: 17px;
	
  }

}


@media screen and (max-width:480px){
	
	.edit-form__pop-up{
		min-width: 250px;
	}
	.edit-form__close{
		width:20px;
		height: 20px;
		top: -20px;
		right: -20px;
	}
	.edit-form__form{
		max-width: 200px;
	}
}