@import url("./_about-me/edit-form__input_about-me.css");
@import url("./_name/edit-form__input_name.css");

.edit-form__input {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 25px;
  }