@import url("./__about-me/profile__about-me.css");
@import url("./__add-button/profile__add-button.css");
@import url("./__avatar/profile__avatar.css");
@import url("./__edit-button/profile__edit-button.css");
@import url("./__info/profile__info.css");
@import url("./__name-container/profile__name-container.css");
@import url("./__name/profile__name.css");

.profile {
  margin: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .profile {
    flex-direction: column;
  }
}
