@import url("./__copyright/footer__copyright.css");

.footer {
  margin: 66px auto 0;
  padding-bottom: 60px;
}

@media screen and (max-width: 720px) {
  .footer {
    margin: 48px 0 0 19px;
    padding-bottom: 36px;
  }
}
