.elements__trash{
	position: absolute;
	right: 15px;
	top: 15px;
	width: 18px;
	height: 19.3px;
  
	background-image: url("../../../images/trash.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}