@import url("./__close/popup__close.css");
@import url("./__form/popup__form.css");
@import url("./__input/popup__input.css");
@import url("./__dialog-window/popup__dialog-window.css");
@import url("./__submit/popup__submit.css");
@import url("./__title/popup__title.css");
@import url("./__image-container/popup__image-container.css");
@import url("./__full-size-image/popup__full-size-image.css");
@import url("./__image-caption/popup__image-caption.css");
@import url("./__figure-container/popup__figure-container.css");

@import url("./__input/_type/_error/popup__input_type_error.css");
@import url("./__input-error/popup__input-error.css");
@import url("./__input-error/_visible/popup__input-error_visible.css");

@import url("../button/_inactive/button_inactive.css");
@import url("../popup/__dialog-window/_delete/popup__dialog-window_delete.css");


.popup {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  color: black;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  opacity: 0;
}
